@page
@model ShoeStore.Pages.OrderModel
@{
}

<div class="container" style="padding:40px 0">
    <h1>@Model.fullname</h1>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Shoe id</th>
				<th>Status</th>
			</tr>
		</thead>
		@foreach (var item in Model.billList)
		{
			<tr>
				<td style="padding:12px 15px;">@item.Id</td>
				<td style="padding:12px 15px;">@item.ShoeId</td>
				<td style="padding:12px 15px;">
					@if(item.Status == 0)
					{
						<span style="background-color:red;color:white;text-align:center;padding:2px 8px;border-radius:20px">Process</span>
					}
					else
					{
						<span style="background-color:green;color:white;text-align:center;padding:2px 8px;border-radius:20px">Completed</span>
					}
				</td>
			</tr>
		}
	</table>
</div>
