@page
@model ShoeStore.Pages.Auth.LoginModel
@{
}

<div class="wrapper fadeInDown">
    <div id="formContent">
        <div style="width:100%;display:flex;justify-content:center;padding:40px 0">
            <form method="post" style="border:solid black 1px;width:400px;border-radius:20px;padding:0 40px">
                <div style="width:100%;text-align:center">
                    <h3 style="font-weight:700">Login</h1>
                </div>
                <div class="row mb-3">
                    <input type="text" name="username" placeholder="username">
                </div>
                <div class="row mb-3">
                    <input type="password" name="password" placeholder="password">
                </div>
                <div class="row mb-3">
                    <input type="submit" class="fadeIn fourth" value="Log In">
                </div>
                <div style="width:100%;text-align:center">
                    <a class="underlineHover" href="/auth/register">Register</a>
                </div>
            </form>
        </div>

        <!-- Remind Passowrd -->

    </div>
</div>
