html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
}

.header-left {
    display: flex;
}

.header-right {
    display: flex;
    align-items: center;
}

    .header-right a {
        text-decoration: none;
        color: black;
        padding: 10px;
    }

        .header-right a:hover {
            color: aqua;
        }

.search-bar {
    border: solid black 3px;
    width: 300px;
    height: 30px;
    line-height: 30px;
    border-radius: 40px;
    padding: 0 10px;
    background-color: white;
}

.nav-item {
    width: 100px;
    height: 100%;
    text-align: center;
}

    .nav-item:hover {
        background-color: lightgrey;
    }

.product-list {
    display: flex;
    flex-wrap: wrap;
}

.product-detail {
    padding: 0 16px;
}

.product {
    width: 250px;
    border: solid black 2px;
    border-radius: 12px;
    padding-bottom: 10px;
    margin: 0 20px 20px;
}

.product-image {
    width: 100%;
    height: 200px;
    border-radius: 12px;
}

.footer {
    background-color: black;
}

.footer-content a {
    width: 100%;
    height: 16px;
    text-decoration: none;
}

    .footer-content a:hover {
        color: darkred;
    }
